# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment folder
.venv/

# Ignore environment variables file
.env

# Ignore FAISS index and pickle files if needed
*.pkl
*_faiss_index/